//CormorantUnicase
// --- CormorantUnicase-Bold ---
@font-face {
  font-family: "CormorantUnicase";
  font-weight: 700;
  src: url("../fonts/CormorantUnicase/CormorantUnicase-Bold.ttf");
}

// --- CormorantUnicase-Light ---
@font-face {
  font-family: "CormorantUnicase";
  font-weight: 300;
  src: url("../fonts/CormorantUnicase/CormorantUnicase-Light.ttf");
}

// --- CormorantUnicase-Medium ---
@font-face {
  font-family: "CormorantUnicase";
  font-weight: 500;
  src: url("../fonts/CormorantUnicase/CormorantUnicase-Medium.ttf");
}

// --- CormorantUnicase-Regular ---
@font-face {
  font-family: "CormorantUnicase";
  font-weight: 400;
  src: url("../fonts/CormorantUnicase/CormorantUnicase-Regular.ttf");
}

// --- CormorantUnicase-SemiBold ---
@font-face {
  font-family: "CormorantUnicase";
  font-weight: 600;
  src: url("../fonts/CormorantUnicase/CormorantUnicase-SemiBold.ttf");
}

//Roboto

// --- Roboto-Black ---

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}

// --- Roboto-BlackItalic ---

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
}

// --- Roboto-Bold ---

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

// --- Roboto-BoldItalic ---

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
}

// --- Roboto-Italic ---

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
}

// --- Roboto-Light ---

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

// --- Roboto-LightItalic ---

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
}

// --- Roboto-Medium ---

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

// --- Roboto-MediumItalic ---

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
}

// --- Roboto-Regular ---

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

// --- Roboto-Thin ---

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

// --- Roboto-ThinItalic ---

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
}