%wrapper-sett {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  padding: 10px 10px 20px 10px;
}

%title-sett {
  text-transform: uppercase;
  color: color(semi-grey);
  margin-bottom: 10px;
}

%base-text-sett {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: color(semi-grey);
}

%link-sett {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  height: 24px;
  text-decoration: none;
  color: color(semi-grey);
  &::after {
    content: "";
    display: none;
    width: 100%;
    height: 1px;
    background-color: color(semi-grey);
  }
  &:hover::after {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    font-size: 12px;
    line-height: 1.2;
    height: 22px;
  }
}