.header__wrapper {
  @extend %wrapper-sett;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.main__wrapper {
  @extend %wrapper-sett;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.footer__wrapper {
  @extend %wrapper-sett;
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
